# Versions used by the reported experiments.
numpy==1.26.4
pandas==2.2.2
PyYAML==6.0.1
soundfile==0.12.1
torch==2.3.1
lightning==2.3.3
pytorch-lightning==2.3.3
setuptools==70.2.0
tensorboard==2.16.2
torchmetrics==1.4.0
pytest==8.2.2
